
/* GENERAL */

*{

  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scrollbar-width: auto;
  scrollbar-color: #1a75a0 #ffffff;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color:  #3d3d3d;
}

header{

  width: 100%;
  height: auto;
}

.console-container{

  font-family: 'Kalam', cursive;
  color:white;
  text-align: left;
  text-transform: uppercase;
  margin: auto;
  text-shadow: 1px 1px 2px rgb(187, 187, 187);
  padding: 20px;
}

@media screen and (max-width: 992px){

  .container {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .console-container{
    max-width: 85%;
    text-align: left;
  }
}

@media screen and (min-width: 992px){  

  .console-container{
    text-align: left;
    padding-left: 20px;
    max-width: 80%;
    padding-right: 40%;
    }
  .console-container h1{
  font-size: 60px;
  }
  .console-container h2{
    font-size: 30px;
    }
}

#home{
  height: 80vh;
  width: 100%;
  display:flex;
  background-image: url('image/Autumn-dog-leaves_1680x1050.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#page-informations{
  background-color: #9c2323;
  padding: 55px 0;
}

#page-informations .informations-infos h2{

  font-family: 'Roboto', sans-serif;
  color: #000000;
}

h1{
  color: #ffffff;
  letter-spacing: 5px;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
}

h2{
  color: #ffffff;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}


body {
  box-sizing: border-box;
}

a{
  text-decoration: none;
  font-size: 30px;
  font-family: 'Kalam', cursive;
}

.navtext{
  font-size: 20px;
}

.évènements{
  text-align: center;
}

.card{
  transition: 0.5s;
  box-shadow: 0 15px 20px 0 rgba(104, 104, 104, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {

  transform: scale(1.02);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.5s;
}

.card-columns{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

